:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto Regular"), local("roboto-regular"),
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto bold"), local("Roboto Bold"), local("roboto-bold"),
    url("./assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto black"), local("Roboto Black"), local("roboto-black"),
    url("./assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.article__title {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 30px;
}

.prelude {
  padding-bottom: 25px;
}

.prelude__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.prelude__subtitle:last-child {
  margin-bottom: 0;
}

.interval {
  padding: 25px 0;
}

.wrapper {
  padding: 25px 30px;
  max-width: 1180px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.heading {
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  margin-bottom: 20px;
}

.list {
  transition: all 0.5s linear;
}

.menu__list {
  padding-left: 30px;
  color: #02535f;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item__link {
  transition: all 0.36s linear;
  border-bottom: 1px solid #000;
}

.item__link:hover {
  color: #5eb6c36b;
  transition: all 0.5s linear;
}

.result {
  padding-bottom: 50px;
}

.result__list {
  margin-bottom: 30px;
  list-style: none;
}

.result__list-item:last-child {
  margin-bottom: 30px;
}

.result__conclusion {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  line-height: 43.2px;
  margin-bottom: 30px;
}

.sequence__content {
  display: flow-root;
  margin-bottom: 30px;
}

.sequence__content:last-child {
  margin-bottom: 0;
}

.sequence__picture {
  max-width: 560px;
}

.sequence__picture-left {
  float: left;
}

.sequence__text {
  max-width: 490px;
  font-size: 20px;
  font-weight: 400;
  float: right;
}

.sequence__text-content:not(:last-child) {
  margin-bottom: 30px;
}

.sequence__picture-right {
  float: right;
}

.sequence__text-right {
  max-width: 480px;
  float: left;
}

.indent__text:not(:last-child) {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.indent__picture-image {
  margin: 0 auto;
  margin-bottom: 30px;
}

.indent__content {
  border: 1px solid #000000;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.usefuls {
  margin-bottom: 15px;
}

.indent__content-text {
  max-width: 1020px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #5e5e5e;
}

/* RESET */

.reset__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.reset__picture {
  margin: 0 auto;
  margin-bottom: 30px;
}

.reset__picture-image {
  margin-bottom: 0px;
}

.reset__picture-section {
  margin-bottom: 0;
}
